* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#grid-container {
    width: min(80%, 640px);
    border: 4px solid cornflowerblue;
    margin: 30px auto;
    aspect-ratio: 1;
}

.grid-line {
    display: flex;
    width: 100%;
}

.grid-cell {
    flex-basis: 100%;
    aspect-ratio: 1;
}

.pixel-on {
    background-color: black;
    opacity: 10%;
}